
.navbar {
    /* background: rgba(255, 255, 255, 0.95); */
    /* backdrop-filter: blur(10px); */
    padding: 1rem 5%;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  .logoimg {
    width: 280px;
    align-items: center;
    text-align: center;
  }


  /* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
    justify-content: center; /* Center-align for smaller screens */
    position:absolute;
  }

  .logoimg {
    height: 40px; /* Adjust logo size for smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 8px;
    position:absolute;
  }

  .logoimg {
    height: 180px;
    width: auto;
  }
}